.Form_search {
  margin-left: 15px;
}
.Button_search,
.Input_search {
  padding: 7px 15px;
  border-radius: 8px;
}
.Button_search:hover,
.Button_search:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 115, 0);
  border: solid 2px brown;

  box-shadow: 0 12px 16px 0 rgba(255, 115, 0, 0.44),
    0 17px 50px 0 rgba(255, 115, 0, 0.39);
}

.Input_search {
  margin-right: 25px;
}
